/* header */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Lexend', sans-serif;
  background-color: #101728;
  color: white;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  z-index: 1000;
  background-color: #101728;
  color: white;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
}

.logo img {
  max-width: 100%;
  height: 116px;
  max-height: 80px; /* altura nueva (menor que la original) */
}
h1 {
  font-size: 2rem; /* tamaño original */
}


/* menu */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 40px;
  right: 56px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: .25s;
  z-index: 1;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 25%;
  margin: 0;
  padding: 50px 0;
  list-style: none;
  background-color: rgba(25, 0, 58, 0.699);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  padding-left: 40px; /* aumentar el margen izquierdo */
  margin-bottom: 10px; /* aumentar el margen inferior */
  margin-left: 15px;
  color: #ffffff;
  font-family: 'Lexend', sans-serif;
  font-size: 20px;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #5b00d1;
}

  
/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 12px;
  font-weight: 300; /* Hacer la letra más fina */
}

.contact-info {
  float: left;
}

.social-media {
  float: right;
}

.social-media a {
  margin-left: 10px;
}

.social-media a:first-child {
  margin-left: 0;
}


/*Index*/
main{
padding-top: 10%;
padding-left: 15%;
padding-right: 15%;
padding-bottom: 5%;
}

.content {
  background-color: #d9dbe0;
  color: rgb(14, 0, 17);
}
.img-ind{
  margin-top: 15px;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  width: 500px;
  height: 400px;
  float: right;
  margin-top: -250px;
}

h1 {
  margin-bottom: 1rem;
}
#tit-index{
  font-size: 3rem;
  text-align: left;
  width: 500px;
}

.buttons a {
  display: inline-block;
  justify-content: center;
  margin-right: 10px;
  margin-top: 20px; 
}
button {
  padding: 1rem 2rem;
  border-radius: 25px;
  font-size: 1.2rem;
  background-image: linear-gradient(#5801c5, #9200b6);
  color: white;
  border: none;
  cursor: pointer;
}
/*Process*/
.img-proc{
  margin-top: 15px;
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  width: 500px;
  height: 400px;
}
/*About*/
.vistazo{
  margin-top: 15px;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  width: 700px;
  height: 400px;
}
/*max-width: 425px*/
@media (max-width: 425px) {
  #tit-index{
    width: 300px;
    padding-top: 25%;
    font-size: 32px;
  }
  main{
    margin-top: 35%;
  }
  header {
    padding-bottom: 10px;
  }
}